# VCS & editors
.git
.gitignore
.vscode
.idea

# Node/Nx caches
node_modules
dist
.nx/cache

# Tests & coverage
coverage
**/*.spec.ts
**/*.spec.tsx

# Logs
*.log

# Env files (do not bake secrets)
.env
.env.*

# Misc
tmp
**/__pycache__

